* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fefefe;
  font-family: sans-serif;
}

.container {
  width: 90%;
  margin: 50px auto;
}

.all {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.one {
  width: 20%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
}

.one-heading {
  text-align: center;
  height: 150px;
  padding: 50px 10px;
  background: linear-gradient(to right, #ec1a4b, #19eb31);
  color: #fff;
}

.one-para {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}
.one-para p {
  height: 250px;
}

.one-para .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #19eb31, #ec1a4b, #ff4b2b);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.one:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .one {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .one {
    width: 80%;
  }
}
